div {
.item1 { grid-area: header;}
.grid container {
	display: grid;
	grid-template-areas:
	'header header header header header header';
	grid-gap: 0px;
background-color: #B1FF49; }
}
.grid {
display:grid;
grid-template-columns:1fr 1fr 1fr 
grid-gap:2vh;
border: 1px black solid;
}
.headerbody {
background-color:#006920;
padding;1em;
grid-column-start: 1;
grid-column-end: span 3;
text- align:justify;
}  
.column {
    float: left;
    width: 33.33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
body {
	font-family: Georgia, Garamond;
	font-size: 20px;
	background-color:#006920;
}

p {
	font-family: Georgia, Garamond;
	font-size: 20px;
	background-color: #F6F7FF;
}
h1{
	font-size: 55px;
	background-color: #B1FF49;
}	
h3 {
	font-size: 68px;
	background-color: #B1FF49;
}
h4 {
	font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 8%;
    background-color: #B1FF49;
    height: 100%; 
    position: fixed;
    overflow: auto; 
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
	padding: 18px 22px;
    font-size: 21px;
    text-decoration: none;
	width: 60px;
}
li a:hover {
    background-color: #B1FF49;
    color: #F6F7FF;
}
div.a {
    text-align: left
	font-size: 55px;
}
div.b {
    text-align: center;
	font-size: 75px;
	color: red;
}
div.c {
    text-align: right;
	font-size: 55px;
} 





















.menu-body {
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: #F6F7FF;
}
.menu-section {
  margin-bottom: 80px;
}
.menu-section-title {
  font-family: georgia;
  font-size: 50px;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
}
.menu-item {
  margin: 35px 0;
  font-size: 18px;
}
.menu-item-name{
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}
.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
}
.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
}






	
	
	
	
	
	
	
	
	
	
	
	
	